body{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 150%;
  background-color:beige;
}
header{
  img{
    display:inline-block;
    margin-left:30px;
    width: 10%;
    vertical-align: top;
  }
}
#Skip_Button{
  display:inline-block;
  background-color:rgb(76, 242, 98);
  margin-top:20px;
  margin-left:50px;
  margin-bottom:20px;
  height: 50px;
  width: 300px;
  text-align:center;
}
footer{
  p{
    display:block;
    font-size: 20px;
    line-height: 25px;
    background-color:rgb(122, 211, 143);
    margin-top: 30px;
    margin-bottom: 50px;
  }
}
nav{
  display:inline-block;
  vertical-align: top;
  text-align:center;
  background-color:rgb(122, 211, 143);
  width: 80%;
  height:60px;
}
nav ul {
  display: flex;
  justify-content: center;
  margin: 0;
  gap: 10px;
  padding: 0;
  list-style: none;
}
/* li {
  display:inline-block;
  width: 30%;
  height: 60px;
  text-align:center;
  font-size: 75%;
  font-weight: bold;
  line-height: 25px;
  background-color:rgb(122, 211, 143);
  a {
    text-decoration:none;
  } */

h1{
  display:block;
  text-align:center;
  text-decoration:underline;
  line-height: 80px;
  font-size: 48px;
  color:rgb(39, 99, 53);
}
main{
  p{
  display:block;
  background-color:rgb(254, 226, 142);
  line-height: 30px;
  min-height: 120px;
  width: 90%;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 50px;  
  margin-right: 50px;
  }
}
main{
  div {
    background-color:rgb(254, 226, 142);
    text-align:center;
    margin-left: 50px;
    margin-right: 50px;
  }
}
.Neighbor_pics{
  display:grid;
  grid-template-columns: 40% 40%;
  align-items: center;
  justify-content: center;
  gap: 20px;
  img{
    width: 100%;
  }
}
.Park_pics{
  display:flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

